<div id="timer"  style="display:none"></div>
<div id="additionalTime" style="display:none">0</div>

<div class="row" style="height: 100%">

	<div id="div-question" style="width: 100%;display: none;margin: auto;">
		<div class="row col-lg-12" style="margin: 30px 0;">
			<div class="col-lg-1"></div>

			<div class="col-lg-2">
				<img class="img-logo" id="img-question-1" src="" alt="" 
				style="width: 200px;height: 200px;"/><br>
				<label style="margin-top: 10px;">1</label>
			</div>
			
			<div class="col-lg-2">
				<img class="img-logo" id="img-question-2" src="" alt="" 
				style="width: 200px;height: 200px;"/><br>
				<label style="margin-top: 10px;">2</label>
			</div>

			<div class="col-lg-2">
				<img class="img-logo" id="img-question-3" src="" alt="" 
				style="width: 200px;height: 200px;"/><br>
				<label style="margin-top: 10px;">3</label>
			</div>

			<div class="col-lg-2">
				<img class="img-logo" id="img-question-4" src="" alt="" 
				style="width: 200px;height: 200px;"/><br>
				<label style="margin-top: 10px;">4</label>
			</div>

			<div class="col-lg-2">
				<img class="img-logo" id="img-question-5" src="" alt="" 
				style="width: 200px;height: 200px;"/><br>
				<label style="margin-top: 10px;">5</label>
			</div>

			<div class="col-lg-1"></div>
		</div>
	</div>

	<div id="div-result" style="width: 100%;display: none;margin: auto;">
		<div class="col-lg-12" id="div-result-correct" style="display: none;">
			<h4><span id="instruction-text">Jawaban Anda Benar !</span></h4>
			<h4><span id="instruction-text">Tekan Spasi untuk melanjutkan</span></h4>
		</div>

		<div class="col-lg-12" id="div-result-incorrect" style="display: none;">
			<h4><span id="instruction-text">Jawaban Anda Salah !</span></h4>
			<h4><span id="instruction-text">Jawaban yang benar adalah yang diberi lingkaran merah</span></h4>
			<br>
			<div class="col-lg-12">
				<img class="img-logo" id="img-expected" src="" alt="" style="width: 950px;height: 270px;"/>
			</div>
		</div>
	</div>
</div>