<div id="timer"  style="display:none"></div>
<div id="additionalTime" style="display:none">0</div>

<div class="row">
	<div class="row col-lg-12" style="margin-top: 30px;">
		<div class="col-lg-12">
			<img class="img-logo" id="img-question" src="" alt="" style="width: 650px;height: 200px;"/>
		</div>
	</div>

	<div class="row col-lg-12" style="margin-top: 30px;">
		<div class="col-lg-1"></div>

		<div class="col-lg-2">
			<img class="img-logo" id="img-question-1" src="" alt="" 
			style="width: 100%;max-width:150px;height: 150px;"/><br>
			<label style="margin-top: 10px;">1</label>
		</div>
		
		<div class="col-lg-2">
			<img class="img-logo" id="img-question-2" src="" alt="" 
			style="width: 100%;max-width:150px;height: 150px;"/><br>
			<label style="margin-top: 10px;">2</label>
		</div>

		<div class="col-lg-2">
			<img class="img-logo" id="img-question-3" src="" alt="" 
			style="width: 100%;max-width:150px;height: 150px;"/><br>
			<label style="margin-top: 10px;">3</label>
		</div>

		<div class="col-lg-2">
			<img class="img-logo" id="img-question-4" src="" alt="" 
			style="width: 100%;max-width:150px;height: 150px;"/><br>
			<label style="margin-top: 10px;">4</label>
		</div>

		<div class="col-lg-2">
			<img class="img-logo" id="img-question-5" src="" alt="" 
			style="width: 100%;max-width:150px;height: 150px;"/><br>
			<label style="margin-top: 10px;">5</label>
		</div>

		<div class="col-lg-1"></div>
	</div>

	<div class="col-lg-12 text-center" style="margin-top: 20px;">
		<h4><span id="instruction-text" >Tekan angka yang menurut anda benar dengan menggunakan keyboard</span></h4>
		<br>
		<h2><span id="span-input-user" style="font-size: 30px;"></span></h2>
	</div>
</div>