<header class="masthead mb-auto">
	<div class="inner">
		<div class="logo">
		  <img class="img-logo" src="<?php echo $this->Url->build('/').'FrontEnds/img/intelligence_logo.jpeg' ?>" alt=""/>
	 	</div>
	</div>
</header>