/*------------------------------------
--------------------------------------
-----------------BODY-----------------
--------------------------------------
------------------------------------*/

body {
	height: 100%;
	text-align: center;

  font-family: 'Oswald', Arial;
  font-weight: bold;
}

/*-------------------------------------
---------------------------------------
-----------------TIMER-----------------
---------------------------------------
-------------------------------------*/

#timer {
	margin-left:auto; margin-right:auto;

	border-bottom-color: rgb(128, 128, 128);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-left-color: rgb(128, 128, 128);
	border-left-style: solid;
	border-left-width: 2px;
	border-right-color: rgb(128, 128, 128);
	border-right-style: solid;
	border-right-width: 2px;
	border-top-color: rgb(128, 128, 128);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-top-style: solid;
	border-top-width: 2px;
	letter-spacing: 0.01vh;
	font-weight: bold;
/*	line-height: 15.1vh;
	height:15vh;*/
	margin-bottom: 20px;
	text-align: center;
	width: 35vw;
}


/*---------------------------------------
-----------------------------------------
-----------------BUTTONS-----------------
-----------------------------------------
---------------------------------------*/

	#startButton, #startButton:hover, #pauseButton, #pauseButton:hover, #clearButton,
	#clearButton:hover {
		-webkit-appearance: none;
		-webkit-user-select: none;
		border-radius: 3px;
		box-sizing: border-box;
		color: rgb(255, 255, 255);
		cursor: pointer;
		display: inline-block;
		font-family: Arial, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
		font-size: 15px;
		font-style: normal;
		font-variant: normal;
		font-weight: bold;
		min-height: 6vh;
		line-height: 20px;
		margin-right: 0.5%;
		padding-bottom: 6px;
		padding-left: 12px;
		padding-right: 12px;
		padding-top: 6px;
		position: relative;
		text-decoration: none;
		text-shadow: rgba(0, 0, 0, 0.14902) 0px -1px 0px;
		vertical-align: middle;
		white-space: nowrap;
    min-width: 60px;
		width: 15%;
		word-wrap: break-word;
	}

  #pauseButton, #clearButton {
		display: none;
	}