.instruction{
    background: linear-gradient(to right, #ff8800 57%, #fff701 100%);
    padding: 3%;
    margin: 0px;
    max-width: 100%;
    color: black;
}
.instruction-left{
    text-align: center;
    color: #fff;
    margin-top: 15%;
}
.instruction-left input{
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    margin-top: 30%;
    margin-bottom: 3%;
    cursor: pointer;
}
.instruction-right{
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}
.instruction-left img{
    margin-top: 15%;
    margin-bottom: 5%;
    width: 25%;
    /*-webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;*/
}

.instruction-left p{
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}
.instruction .instruction-form{
    padding: 10% 10% 6% 10%;
    margin-top: 7%;
}
.btnRegister{
    float: right;
    margin-top: 10px;
    border: none;
    border-radius: 1.5rem;
    padding: 1%;
    background: #0062cc;
    color: #fff;
    font-weight: 600;
    width: 160px;
}
.instruction .nav-tabs{
    margin-top: 3%;
    border: none;
    background: #0062cc;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}
.instruction .nav-tabs .nav-link{
    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.instruction .nav-tabs .nav-link:hover{
    border: none;
}
.instruction .nav-tabs .nav-link.active{
    width: 100px;
    color: #0062cc;
    border: 2px solid #0062cc;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}
.instruction-heading{
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #495057;
}