.input-number {
	height: 45px !important;
    border: 2px solid black;
    margin: 2px;
    text-align: center;
    padding: 0px;
}


.left-input{
	padding: 2px;margin:0px;
}

.right-input{
	padding: 2px;margin:27px 0px;
}

.left-input-number-trial{
    float: right;
  	clear: both;
  	width: 70px;
}

.right-input-number-trial{
    float: left;
  	clear: both;
  	width: 70px;
}

.logo{
    float: right;
    position: absolute;
    right: 0;
    margin: 0px 15px;
}

.img-logo{
    vertical-align: middle;
    border-style: none;
    height: 90px;
    width: 85px;
    background: white;
    padding: 5px;
}